@import "./variables";
body,
html {
  margin: 0;
}

body:has(.main-2-0),
html:has(.main-2-0) {
  overflow-x: hidden;
}

@media (max-width: 1220px) {
  body {
    margin-bottom: 67px;
  }
}

body {
  font-family: Poppins, "Roboto", Tahoma, Verdana, Helvetica;
  background-color: $white;
  font-size: 9px;
  line-height: 15px;
  color: $furnipol_black;
}
