@import "./variables";
body,
html {
  margin: 0;
  height: 100%;
}

body {
  background-color: $white;
  background-repeat: repeat;
  background-position: left top;
  line-height: 15px;
  color: $furnipol_black;
  font-size: 9px;
  font-family: Poppins, "Roboto", Tahoma, Verdana, Helvetica;
}
