.main-2-0 {
  #favourite-categories {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    margin-bottom: 55px;
    .toggle-favourite-categories-button {
      display: none;
    }
    .favourite-categories {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 50px 15px;
      padding: 0 16px;
      box-sizing: border-box;
      &-slot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid $transparent;
        border-radius: 16px;
        text-decoration: none;
        width: 15% !important;
        margin-right: 0 !important;
        min-height: 260px;
        &:hover {
          border: 1px solid $light_grey03;
        }
        &__img {
          img {
            width: 180px;
            height: auto;
            object-fit: cover;
          }
        }
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          h3 {
            display: inline-flex;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            color: $furnipol_black;
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .main-2-0 {
    #favourite-categories {
      .toggle-favourite-categories-button {
        display: block;
        margin: 16px auto;
        padding: 10px 20px;
        background-color: unset;
        color: $grey01;
        border: none;
        cursor: pointer;
        font-family: Poppins;
        font-size: 11px;
        font-weight: 600;
        line-height: 16.5px;
        text-align: left;
        svg {
          margin-left: 10px;
          object-fit: contain;
          transition: 0.5s;
          &.rotated {
            transform: rotate(180deg);
          }
        }
      }
      .favourite-categories {
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 0;
        height: 324px;
        overflow: hidden;
        &.expanded {
          max-height: none;
          height: auto;
        }
        &-slot {
          min-height: 120px;
          width: 30% !important;
          &:hover {
            border: unset;
          }
          &__img {
            img {
              width: 100%;
              height: 94px;
              object-fit: cover;
            }
          }
          &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            h3 {
              display: inline-flex;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              text-align: center;
              color: $furnipol_black;
            }
          }
        }
      }
    }
  }
}
