.main-2-0 {
  #favourite-categories {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    margin-bottom: 55px;
    .swiper-pagination {
      display: none;
    }
    .swiper-button-next.fav-swiper-next,
    .swiper-button-prev.fav-swiper-prev {
      display: none;
    }
    .favourite-categories {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 50px 15px;
      &-slot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid $transparent;
        border-radius: 16px;
        text-decoration: none;
        width: 15% !important;
        margin-right: 0 !important;
        min-height: 260px;
        &:hover {
          border: 1px solid $light_grey03;
        }
        &__img {
          img {
            width: 180px;
            height: auto;
            object-fit: cover;
          }
        }
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          h3 {
            display: inline-flex;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            color: $furnipol_black;
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .main-2-0 {
    #favourite-categories {
      .swiper-button-prev.fav-swiper-prev {
        display: none;
      }
      .swiper-button-next.fav-swiper-next {
        display: none;
      }
      .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
      }
      .favourite-categories {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        &-slot {
          width: 50% !important;
          &:hover {
            border: unset;
          }
          &__img {
            img {
              width: 180px;
              height: auto;
              object-fit: cover;
            }
          }
          &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            h3 {
              display: inline-flex;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              text-align: center;
              color: $furnipol_black;
            }
          }
        }
      }
    }
  }
}
