@import "./hero_swiper";
@import "./sale_section";
@import "./favourite_categories";
@import "./garden_time";
@import "./welcome_section";
@import "./text_swiper_section";
@import "./our_advantages";
@import "./reviews_section";
@import "./newsletter_section";

.main-2-0 {
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin: 0 0 16px 0;
  }
}

@media (max-width: 760px) {
  .main-2-0 {
    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      margin: 0 20px 8px;
    }
  }
}
