@import "./header";
@import "./hero_swiper";
@import "./sale_section";

.main-2-0 {
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin: 0 0 80px 0;
  }
}
