.main-2-0 {
  #newsletter-section {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: $light_orange01;
    .newsletter-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      max-width: 1728px;
      &-img {
        img {
          object-fit: cover;
        }
      }
      &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        &-left {
          margin-left: 76px;
          .newsletter-text-top {
            h2 {
              font-size: 24px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
              margin: 0 10px 0 0;
              &.first-text {
                font-size: 22px;
                font-weight: 500;
                line-height: 33px;
                text-align: left;
                margin: 0;
              }
              span {
                display: inline-flex;
                margin-left: 8px;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: left;
                color: $furnipol_orange;
              }
            }
          }
          .newsletter-text-bottom {
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: $grey01;
              span {
                display: inline-flex;
                margin: 0 12px;
              }
            }
          }
        }
        &-right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: 80px;
          .newsletter-form {
            display: flex;
            flex-direction: column;
            .form-input-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              input {
                all: unset;
                width: 373px;
                height: 60px;
                box-sizing: border-box;
                background-color: $white;
                font-size: 17px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                color: $grey01;
                padding: 0 22px;
                border-radius: 7px;
                margin-right: 10px;
                border: 1px solid $grey01;
                &::placeholder {
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 18px;
                  text-align: left;
                  color: $light_grey02;
                }
              }
              button {
                all: unset;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 131px;
                height: 60px;
                box-sizing: border-box;
                border-radius: 7px;
                background-color: $furnipol_orange;
                color: $white;
                font-size: 17px;
                font-weight: 700;
                line-height: 18px;
                text-align: left;
                cursor: pointer;
                &:hover {
                  filter: brightness(1.08);
                  -webkit-filter: brightness(1.08);
                }
              }
            }
          }
          .checkbox {
            display: flex;
            align-items: center;
            .custom-checkbox-checkmark {
              width: 17px;
              height: 17px;
              border-radius: 2px;
              margin-right: 10px;
              &::after {
                left: 6px;
                top: -5px;
                width: 8px;
                height: 18px;
              }
            }
            .custom-checkbox-container {
              display: flex;
              align-items: center;
              height: 25px;
              font-size: 10px;
              font-weight: 300;
              line-height: 25px;
              text-align: left;
              color: $grey01;
              padding-left: 24px;
              a {
                display: inline-flex;
                margin-left: 4px;
                font-size: 10px;
                font-weight: 600;
                line-height: 41px;
                text-align: left;
                color: $grey01;
                &:hover {
                  text-decoration: none;
                  color: $furnipol_orange;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1520px) {
  .main-2-0 {
    #newsletter-section {
      .newsletter-wrapper {
        &-content {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          &-right {
            .newsletter-form {
              .form-input-box {
                input {
                  width: 260px;
                  height: 48px;
                  box-sizing: border-box;
                  font-size: 12px;
                  line-height: 18px;
                  color: $grey01;
                  padding: 0 19px;
                  margin-right: 7px;
                  &::placeholder {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: left;
                    color: $light_grey02;
                  }
                }
                button {
                  display: flex;
                  padding: 0 25px;
                  width: 120px;
                  height: 48px;
                  font-size: 14px;
                  box-sizing: border-box;
                  white-space: pre;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .main-2-0 {
    #newsletter-section {
      .newsletter-wrapper {
        flex-direction: column;
        max-width: unset;
        padding: 40px 20px;
        &-img {
          display: none;
        }
        &-content {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          &-left {
            margin-left: 0;
            .newsletter-text-top {
              h2 {
                font-size: 15px;
                font-weight: 500;
                line-height: 22.5px;
                text-align: left;
                margin: 0 0 10px 0;
                &.first-text {
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 22.5px;
                }
                span {
                  margin-left: 8px;
                  font-size: 15px;
                  line-height: 22.5px;
                }
              }
            }
            .newsletter-text-bottom {
              p {
                display: inline-flex;
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 18px;
                span {
                  display: inline-flex;
                  margin: 0 12px;
                }
              }
            }
          }
          &-right {
            width: 100%;
            margin-top: 6px;
            margin-left: 0;
            .newsletter-form {
              display: flex;
              flex-direction: column;
              width: 100%;
              .form-input-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                input {
                  width: 100%;
                  height: 40px;
                  box-sizing: border-box;
                  font-size: 12px;
                  line-height: 18px;
                  color: $grey01;
                  padding: 0 19px;
                  margin-right: 7px;
                  &::placeholder {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: left;
                    color: $light_grey02;
                  }
                }
                button {
                  display: flex;
                  padding: 0 25px;
                  width: 120px;
                  height: 40px;
                  font-size: 14px;
                  box-sizing: border-box;
                  white-space: pre;
                }
              }
            }
            .checkbox {
              display: flex;
              align-items: center;
              .custom-checkbox-checkmark {
                width: 17px;
                height: 17px;
                border-radius: 2px;
                margin-right: 10px;
                &::after {
                  left: 6px;
                  top: -5px;
                  width: 8px;
                  height: 18px;
                }
              }
              .custom-checkbox-container {
                display: flex;
                align-items: center;
                height: 25px;
                font-size: 10px;
                font-weight: 300;
                line-height: 25px;
                text-align: left;
                color: $grey01;
                padding-left: 24px;
                a {
                  display: inline-flex;
                  margin-left: 4px;
                  font-size: 10px;
                  font-weight: 600;
                  line-height: 41px;
                  text-align: left;
                  color: $grey01;
                  &:hover {
                    text-decoration: none;
                    color: $furnipol_orange;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
