.main-2-0 {
  #our-advantages {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    margin-top: 55px;
    margin-bottom: 80px;

    h2 {
      margin-bottom: 26px;
    }

    .our-advantages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 31px;
      &-slot {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $light_grey01;
        width: 31%;
        height: 151px;
        border-radius: 16px;
        padding: 18px;
        box-sizing: border-box;

        &:nth-of-type(3n) {
          margin-right: 0;
        }
        &__icon {
          margin-right: 25px;
          img {
            object-fit: contain;
            height: 90px;
            width: auto;
            max-width: 100px;
          }
        }
        &__text {
          p {
            font-size: 24px;
            font-weight: 400;
            line-height: 33px;
            text-align: left;
            color: $furnipol_black;
            margin: 0 16px 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .main-2-0 {
    #our-advantages {
      max-width: unset;

      h2 {
        margin-bottom: 18px;
      }

      .our-advantages {
        gap: 2%;
        &-slot {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 46%;
          height: 170px;
          padding: 16px 32px;
          box-sizing: border-box;
          margin-bottom: 2%;

          &__icon {
            margin-right: 0;
            img {
              height: 60px;
              max-width: 60px;
            }
          }
          &__text {
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              color: $furnipol_black;
              margin: 8px 0 0 0;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
