.main-2-0 {
  #sale {
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    h2 {
      margin-bottom: 40px;
    }
    #sale-slider {
      position: relative;
      margin-bottom: 55px;
      .swiper-button-prev {
        height: 55px;
        width: 55px;
        left: 65px;
        &::after {
          font-size: 0;
          letter-spacing: 0;
          font-variant: initial;
          line-height: 1;
          background: url(./../assets/icons/home/sale_section/swiper-arrow-left.svg);
          height: 55px;
          width: 55px;
          font-size: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:hover {
          &::after {
            background: url(./../assets/icons/home/sale_section/swiper-arrow-left-hover.svg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 55px;
            width: 55px;
          }
        }
      }
      .swiper-button-next {
        height: 55px;
        width: 55px;
        right: 65px;
        &::after {
          font-size: 0;
          letter-spacing: 0;
          font-variant: initial;
          line-height: 1;
          background: url(./../assets/icons/home/sale_section/swiper-arrow-right.svg);
          height: 55px;
          width: 55px;
          font-size: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:hover {
          &::after {
            background: url(./../assets/icons/home/sale_section/swiper-arrow-right-hover.svg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 55px;
            width: 55px;
          }
        }
      }
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          width: 361px;
          height: 100%;
          padding: 10px;
          border: 1px solid $transparent;
          border-radius: 16px;
          user-select: none;
          &__icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            .compare-box-icon,
            .fav-box-icon {
              all: unset;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              border: 1px solid $light_grey03;
              width: 40px;
              height: 40px;
              box-sizing: border-box;
              border-radius: 7px;
              cursor: pointer;
              img {
                width: 16px;
                height: 16px;
                pointer-events: none;
                &.active {
                  filter: invert(53%) sepia(68%) saturate(530%)
                    hue-rotate(335deg) brightness(95%) contrast(93%);
                  -webkit-filter: invert(53%) sepia(68%) saturate(530%)
                    hue-rotate(335deg) brightness(95%) contrast(93%);
                }
              }
              &:hover {
                border: 1px solid $grey01;
              }
            }
            .fav-box-icon {
              img {
                &.active {
                  background: url(./../../assets/icons/home/sale_section/orange-full-heart.svg) !important;
                  background-position: center !important;
                  background-repeat: no-repeat !important;
                  background-size: contain !important;
                }
              }
            }
          }
          &__img {
            display: flex;
            width: 100%;
            height: auto;
            border-radius: 20px;
            margin-bottom: 13px;
            img {
              width: 100%;
              border-radius: 20px;
              object-fit: cover;
              aspect-ratio: 4 / 5;
            }
          }
          &__content {
            &-top {
              margin-bottom: 8px;
              .sale-product-title {
                display: inline-flex;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                text-align: left;
                color: $furnipol_black;
                width: 100%;
              }
              .sale-product-desc {
                display: inline-flex;
                font-size: 14px;
                font-weight: 300;
                line-height: 19px;
                text-align: left;
                color: $furnipol_black;
                width: 100%;
              }
            }
            &-bottom {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              .swiper-sale-product-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
              }
              .sale-product-price {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 140px;
                overflow: hidden;
                white-space: nowrap;
                max-width: 200px;
                font-size: 28px;
                font-weight: 600;
                line-height: 42px;
                text-align: left;
                color: $black;
              }
              .add-to-the-cart {
                all: unset;
                display: none;
                justify-content: center;
                align-items: center;
                width: 49px;
                height: 30px;
                box-sizing: border-box;
                background-color: $grey01;
                border-radius: 5px;
                cursor: pointer;
                img {
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .main-2-0 {
    #sale {
      h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        margin: 0 20px 8px;
      }
      #sale-slider {
        .sale-swiper {
          padding-bottom: 24px;
        }
        .swiper-button-prev {
          display: none;
        }
        .swiper-button-next {
          display: none;
        }
        .swiper-pagination {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 761px) {
  .main-2-0 {
    #sale {
      width: 100%;
      margin: 0 auto;
      max-width: 1380px;
      #sale-slider {
        .swiper-pagination {
          display: none;
        }
      }
    }
  }
}
