.main-2-0 {
  #welcome {
    width: 100%;
    margin: 110px auto 55px;
    max-width: 1380px;
    .welcome-text {
      display: flex;
      flex-direction: row;
      &__col {
        display: flex;
        flex-direction: column;
        width: 50%;
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 26px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .main-2-0 {
    #welcome {
      .welcome-text {
        flex-direction: column;
        margin: 0 20px;
        &__col {
          width: 100%;
        }
      }
    }
  }
}
