.header-2-0 {
  .mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 9999999999999;
    &.active {
      display: flex;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 74px;
        width: 100%;
        border-bottom: 1px solid $light_grey03;
        box-shadow: 2px 5px 2px 0px #00000000;
        padding: 15px;
        box-sizing: border-box;
        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 33px;
          text-align: left;
          color: $furnipol_black;
          margin: 0 0 0 6px;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
}
