body.body-locked,
html.body-locked {
  overflow: hidden;
}

.header-2-0 {
  /* For Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar-thumb {
    background-color: $light_grey02;
    width: 5px;
    height: 5px;
  }

  /* For Firefox */
  ::-moz-scrollbar-thumb {
    background-color: $light_grey02;
    width: 5px;
    height: 5px;
  }

  /* For Internet Explorer and Edge */
  ::-ms-thumb {
    background-color: $light_grey02;
    width: 5px;
    height: 5px;
  }

  /* For standard scrollbars (if supported) */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 9999999999999;
    transform: translateX(-100%);
    transition: 0.4s;
    &.active {
      display: flex;
      transform: translateX(0);
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 74px;
        width: 100%;
        border-bottom: 1px solid $light_grey03;
        box-shadow: 2px 5px 2px 0px #00000000;
        padding: 15px;
        box-sizing: border-box;
        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 33px;
          text-align: left;
          color: $furnipol_black;
          margin: 0 0 0 6px;
        }
        img {
          cursor: pointer;
        }
      }
      &__content {
        overflow-y: scroll;
        &-search-box {
          position: relative;
          margin: 20px 24px;
          width: calc(100% - 48px);
          height: 44px;
          border-radius: 7px;
          box-sizing: border-box;
          input {
            all: unset;
            width: 100%;
            height: 44px;
            background-color: $white;
            border-radius: 8px;
            border: 1px solid $light_grey02;
            padding: 0 60px 0 27px;
            font-size: 16px;
            color: $grey01;
            box-sizing: border-box;
            &::placeholder {
              font-size: 16px;
              color: $light_grey02;
            }
            &:hover,
            &:focus,
            &:active {
              border: 1px solid $grey01;
              outline: unset;
            }
          }
          button {
            all: unset;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
        &-menu-list {
          .hr-menu-divider {
            margin: 0;
          }
          .mobile-menu-list__slot {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 24px;
            border-bottom: 1px solid $light_grey01;
            width: 100%;
            cursor: pointer;
            &:first-of-type {
              border-top: 1px solid $light_grey01;
            }
            &:hover {
              background-color: $light_grey01;
              border-bottom: 1px solid $light_grey02;
            }
            > strong {
              display: flex;
              width: 100%;
            }
            span {
              a {
                font-weight: 400;
                text-transform: none;
              }
            }
            a {
              display: flex;
              width: 100%;
              font-size: 16px;
              font-weight: 600;
              line-height: 33px;
              text-align: left;
              color: $grey01;
              text-decoration: none;
              text-transform: uppercase;
            }
            .arrow-menu-box {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              > span {
                display: flex;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                line-height: 33px;
                text-align: left;
                color: $grey01;
                text-transform: none;
              }
              img {
                margin-right: -10px;
              }
            }
            .menu-inner-second-lvl {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: $white;
              transform: translateX(-150%);
              transition: 0.4s;
              height: 100%;
              &-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 12px 15px;
                border-bottom: 1px solid $light_grey03;
                box-shadow: 2px 5px 2px 0px #00000000;
                box-sizing: border-box;
                &__left {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  h2 {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 33px;
                    text-align: left;
                    margin: 0 0 0 12px;
                    color: $furnipol_black;
                  }
                }
                &__right {
                  img {
                    object-fit: contain;
                  }
                }
              }
              &-content {
                overflow-y: scroll;
                .menu-fav-categories {
                  h3 {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 33px;
                    text-align: left;
                    color: $furnipol_black;
                    margin: 7px 24px 0 24px;
                  }
                  &-swipe-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    height: 100px;
                    padding: 5px 0;
                    &__el {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      border-right: 1px solid $light_grey01;
                      border-left: 1px solid $light_grey01;
                      img {
                        width: auto;
                        height: 74px;
                        object-fit: contain;
                      }
                      span {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 19px;
                        text-align: center;
                        color: $furnipol_black;
                        margin: 0;
                        text-transform: none;
                      }
                    }
                  }
                }
                .second-lvl-menu-wrapper {
                  &__el {
                    &_box {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 10px 24px;
                      border-bottom: 1px solid $light_grey01;
                      width: 100%;
                      &:first-of-type {
                        border-top: 1px solid $light_grey01;
                      }
                      &:hover {
                        background-color: $light_grey01;
                        border-bottom: 1px solid $light_grey02;
                      }
                      > span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 33px;
                        text-align: left;
                        color: $grey01;
                      }
                      img {
                        margin-right: -10px;
                      }
                    }
                    .menu-inner-third-lvl-content {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      background-color: $white;
                      transform: translateX(-150%);
                      transition: 0.4s;
                      height: 100%;
                      &-top {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 12px 15px;
                        border-bottom: 1px solid $light_grey03;
                        box-shadow: 2px 5px 2px 0px #00000000;
                        box-sizing: border-box;
                        &__left {
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          justify-content: center;
                          h2 {
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 33px;
                            text-align: left;
                            margin: 0 0 0 12px;
                            color: $furnipol_black;
                          }
                        }
                        &__right {
                          img {
                            object-fit: contain;
                          }
                        }
                      }
                      &-wrapper {
                        overflow-y: scroll;
                        &__el {
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          padding: 10px 24px;
                          border-bottom: 1px solid $light_grey01;
                          width: 100%;
                          &:first-of-type {
                            border-top: 1px solid $light_grey01;
                          }
                          &:hover {
                            background-color: $light_grey01;
                            border-bottom: 1px solid $light_grey02;
                          }
                          a {
                            text-decoration: none;
                          }
                        }
                        &__btn {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          padding: 27px 22px;
                          border-top: 1px solid $light_grey01;
                          > a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 18px;
                            text-align: center;
                            text-decoration: none;
                            color: $grey01;
                            border: 1px solid $grey01;
                            border-radius: 7px;
                            box-sizing: border-box;
                            width: 100%;
                            height: 50px;
                            text-transform: unset;
                          }
                        }
                      }
                      &.active {
                        transform: translateX(0);
                      }
                    }
                  }
                  &__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 27px 22px;
                    border-top: 1px solid $light_grey01;
                    > a {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 17px;
                      font-weight: 700;
                      line-height: 18px;
                      text-align: center;
                      text-decoration: none;
                      color: $grey01;
                      border: 1px solid $grey01;
                      border-radius: 7px;
                      box-sizing: border-box;
                      width: 100%;
                      height: 50px;
                      text-transform: unset;
                    }
                  }
                }
              }
              &.active {
                transform: translateX(0);
              }
            }
            .mobile-menu-img-wrapper {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: $white;
              transform: translateX(-150%);
              transition: 0.4s;
              height: 100%;
              &-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 12px 15px;
                border-bottom: 1px solid $light_grey03;
                box-shadow: 2px 5px 2px 0px #00000000;
                box-sizing: border-box;
                &__left {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  h2 {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 33px;
                    text-align: left;
                    margin: 0 0 0 12px;
                    color: $furnipol_black;
                  }
                }
                &__right {
                  img {
                    object-fit: contain;
                  }
                }
              }
              &-bottom {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-top: 20px;
                overflow-y: scroll;
                &__slot {
                  margin-bottom: 12px;
                  .menu-img-col-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    > img {
                      border-radius: 7px;
                      object-fit: cover;
                      margin-bottom: 13px;
                    }
                    > span {
                      font-size: 16px;
                      font-weight: 300;
                      line-height: 26px;
                      text-align: center;
                      color: $furnipol_black;
                      margin: 0;
                    }
                  }
                }
                .menu-inner-third-lvl-content {
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  background-color: $white;
                  transform: translateX(-150%);
                  transition: 0.4s;
                  height: 100%;
                  &-top {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 15px;
                    border-bottom: 1px solid $light_grey03;
                    box-shadow: 2px 5px 2px 0px #00000000;
                    box-sizing: border-box;
                    &__left {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: center;
                      h2 {
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 33px;
                        text-align: left;
                        margin: 0 0 0 12px;
                        color: $furnipol_black;
                      }
                    }
                    &__right {
                      img {
                        object-fit: contain;
                      }
                    }
                  }
                  &-wrapper {
                    overflow-y: scroll;
                    &__el {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      padding: 10px 24px;
                      border-bottom: 1px solid $light_grey01;
                      width: 100%;
                      &:first-of-type {
                        border-top: 1px solid $light_grey01;
                      }
                      &:hover {
                        background-color: $light_grey01;
                        border-bottom: 1px solid $light_grey02;
                      }
                      a {
                        text-decoration: none;
                      }
                    }
                    &__btn {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 27px 22px;
                      border-top: 1px solid $light_grey01;
                      > a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 18px;
                        text-align: center;
                        text-decoration: none;
                        color: $grey01;
                        border: 1px solid $grey01;
                        border-radius: 7px;
                        box-sizing: border-box;
                        width: 100%;
                        height: 50px;
                        text-transform: unset;
                      }
                    }
                  }
                  &.active {
                    transform: translateX(0);
                  }
                }
              }
              &.active {
                transform: translateX(0);
              }
            }
          }
        }
        &-lang-select {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 24px 22px;
          border-top: 1px solid $light_grey01;
          .lang-select__text {
            font-size: 14px;
            font-weight: 500;
            line-height: 33px;
            text-align: left;
            color: $furnipol_black;
            margin: 0;
          }
          .lang-select__select {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 38px;
            border-radius: 7px;
            border: 1px solid $light_grey03;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            color: $grey01;
            background-color: $white;
            option {
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              text-align: left;
              color: $grey01;
              background-color: $white;
            }
            &:hover,
            &:focus,
            &:active {
              border: 1px solid $grey01;
              outline: unset;
            }
          }
        }
        &-contact {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 24px 22px;
          strong {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: $grey01;
            margin: 0;
          }
          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: $grey01;
            margin: 0 0 12px 0;
            img {
              display: flex;
              margin-right: 10px;
              object-fit: contain;
            }
            a {
              font-size: 16px;
              font-weight: 300;
              line-height: 26px;
              text-align: left;
              color: $grey01;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 761px) {
  .header-2-0 {
    .mobile-menu {
      display: none;
      position: absolute;
      top: 0;
      right: calc((100vw - 1728px) / 2);
      width: 390px;
      height: 70vh;
      background-color: $white;
      z-index: 9999999999999;
      transform: translateX(-100%);
      transition: 0.4s;
      overflow: hidden;
      &.active {
        display: flex;
      }
    }
  }
}
